

body, html {
	height:100%;

}
h1 {
	margin-bottom: 0;
	font: 29px "Lato";
}
h2 {
	margin-top: 0;
	margin-bottom: 50px;
	font: bold italic 18px arial;
}
#containerVelha {
  width: 760px;
  margin: auto;
}
#quadroesq {
  float: center;
  width: 460px; 
  margin: 20px;
}

#quadrodir {
	float:left;
	width: 500px;
	margin: auto;
	padding-left: 8px;
}

#tabuleiro {
	border-collapse: collapse;
	width: 200px;
}
#tabuleiro td {
	width: 80px;
	height: 80px;
	font: 60px "Arial";
	text-align: center;
	vertical-align: center;
	color: #FFA500;
}
#p00,#p01,#p02, #p10,#p11,#p12 {  /* linhas horizontais */
	border-bottom: 6px solid #000;
	font-family: "arial";
}
#p00,#p01, #p10,#p11, #p20,#p21 { /* linhas verticais */
	border-right: 6px solid #000;
	font-family: "arial";
}
.clear {
	clear: both;
}
.bloco {
	float: left;
	width: 80px;
	height: 80px;
	background: url(../../images/fundo.png) no-repeat 10px 12px ;
	padding-left: 8px;

	padding-top: 2px;
	text-align: center;
}
.ativo {
	background-color: #eee;
}

